.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e5f4f2;
  padding: 20px;
}

.auth-card {
  background: white;
  width: 100%;
  max-width: 420px;
  padding: 40px 35px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  text-align: center;
  overflow: hidden;
}

.auth-card h2 {
  font-size: 28px;
  margin-bottom: 5px;
  color: #003d30;
}

.auth-sub {
  color: #555;
  margin-bottom: 25px;
}

.auth-card input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
}

.auth-btn {
  width: 100%;
  background: #007f5f;
  color: white;
  padding: 12px 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: 0.2s ease;
}

.auth-btn:hover {
  background: #00694e;
}

.auth-link {
  margin-top: 18px;
  font-size: 14px;
  color: #444;
}

.auth-link a {
  color: #007f5f;
  text-decoration: none;
}
.auth-select {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  background: white;
  color: #333;
}
.error {
  color: #d9534f;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.success-modal {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 90%;
  max-width: 380px;
  text-align: center;
  animation: pop 0.25s ease-out;
}

@keyframes pop {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.modal-btn {
  margin-top: 15px;
  background: #00695c;
  color: white;
  border: none;
  padding: 12px 16px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.modal-btn:hover {
  background: #004d40;
}
.password-wrapper {
  position: relative;
   margin-bottom: 15px;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; 
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
  font-size: 18px;
}
